version: '3'
services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "8080:15672"
  database:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
    volumes:
      - ./db/:/docker-entrypoint-initdb.d/
    expose:
      - "3306"
    ports:
      # For development work
      - "3306:3306"
