version: 2.1

commands:
  python-deps:
    steps:
      - run:
          working_directory: ./edge
          command: |  # use pipenv to install dependencies
            sudo pip install pipenv
            pipenv install --dev
      - save_cache:  # Save a cache of dependencies, tied to lockfile
          key: deps9-{{ .Branch }}-{{ checksum "./edge/Pipfile.lock" }}
          paths:
            - "./edge/.venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
  install-mage:
    steps:
      - run: go get -u -d github.com/magefile/mage
      - run: cd $GOPATH/src/github.com/magefile/mage && go run bootstrap.go

executors:
  python-executor:
    docker:
      - image: circleci/python:3.7
        environment:
          PIPENV_VENV_IN_PROJECT: true
  golang-executor:
    docker:
      - image: circleci/golang:1.15

jobs:
  # Define a generic go formatting job
  go-format:
    executor: golang-executor
    parameters:
      directory:
        type: string
        description: path of the directory in which to run the command
    steps:
      - install-mage
      - checkout
      - run:
          working_directory: << parameters.directory >>
          name: Run format check
          command: mage -v format:check
  # Define a generic go testing job
  go-test:
    executor: golang-executor
    parameters:
      directory:
        type: string
        description: path of the directory in which to run the command
    steps:
      - install-mage
      - checkout
      - run:
          working_directory: << parameters.directory >>
          name: Run tests
          command: mage -v test
  # Ensure edge code is formatted correctly
  edge-format:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run format check
          command: pipenv run invoke format --check
  # Ensure edge code is linting correctly
  edge-lint:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run linting
          command: pipenv run invoke lint
  # Ensure edge code is passing tests
  edge-test:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run tests
          command: pipenv run invoke test
workflows:
  version: 2
  main:
    jobs:
      # edge
      - edge-format
      - edge-lint
      - edge-test
      # consumer
      - go-format:
          name: consumer-format
          directory: ./consumer
      # api
      - go-format:
          name: api-format
          directory: ./api
      # connection-disconnected
      - go-format:
          name: connection-disconnected-format
          directory: ./connection/disconnected
      - go-test:
          name: connection-disconnected-test
          directory: ./connection/disconnected
      # connection-listener
      - go-format:
          name: connection-listener-format
          directory: ./connection/listener
      - go-test:
          name: connection-listener-test
          directory: ./connection/listener
