version: 2.1

commands:
  python-deps:
    steps:
      - run:
          working_directory: ./edge
          command: |  # use pipenv to install dependencies
            sudo pip install pipenv
            pipenv install --dev
      - save_cache:  # Save a cache of dependencies, tied to lockfile
          key: deps9-{{ .Branch }}-{{ checksum "./edge/Pipfile.lock" }}
          paths:
            - "./edge/.venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
  install-mage:
    steps:
      - run: go get -u -d github.com/magefile/mage
      - run: cd $GOPATH/src/github.com/magefile/mage && go run bootstrap.go
  install-go-swagger:
    steps:
      - run: >
          download_url=$(curl -s https://api.github.com/repos/go-swagger/go-swagger/releases/latest |
          jq -r '.assets[] | select(.name | contains("'"$(uname | tr '[:upper:]' '[:lower:]')"'_amd64")) |
          .browser_download_url') &&
          sudo curl -o /usr/local/bin/swagger -L'#' "$download_url"
      - run: sudo chmod +x /usr/local/bin/swagger

executors:
  python-executor:
    docker:
      - image: circleci/python:3.7
        environment:
          PIPENV_VENV_IN_PROJECT: true
  golang-executor:
    docker:
      - image: circleci/golang:1.15

jobs:
  # Define a generic go formatting job
  go-format:
    executor: golang-executor
    parameters:
      directory:
        type: string
        description: path of the directory in which to run the command
    steps:
      - install-mage
      - checkout
      - run:
          working_directory: << parameters.directory >>
          name: Run format check
          command: mage -v format:check
  # Define a generic go testing job
  go-test:
    executor: golang-executor
    parameters:
      directory:
        type: string
        description: path of the directory in which to run the command
    steps:
      - install-mage
      - checkout
      - run:
          working_directory: << parameters.directory >>
          name: Run tests
          command: mage -v test
  # Ensure edge code is formatted correctly
  edge-format:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run format check
          command: pipenv run invoke format --check
  # Ensure edge code is linting correctly
  edge-lint:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run linting
          command: pipenv run invoke lint
  # Ensure edge code is passing tests
  edge-test:
    executor: python-executor
    steps:
      - checkout
      - python-deps
      - run:
          working_directory: ./edge
          name: Run tests
          command: pipenv run invoke test
  # Generate openAPI specification from API code
  generate-spec:
    executor: golang-executor
    steps:
      - run: sudo apt-get update && sudo apt-get install -yq curl git jq
      - install-go-swagger
      - checkout
      - run:
          name: Create output directory
          command: mkdir -p artifacts
      - run:
          working_directory: ./api
          name: Generate API specification
          command: swagger generate spec --output ../artifacts/api.yaml
      - run:
          name: Validate API specification
          command: swagger validate artifacts/api.yaml
      - persist_to_workspace:
          root: .
          paths: artifacts
  # Generate javascript library from openAPI spec
  generate-client:
    docker:
      - image: circleci/openjdk:latest
    steps:
      - run:
          name: Install swagger-codegen
          command: wget https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen-cli/2.2.1/swagger-codegen-cli-2.2.1.jar
      - attach_workspace:
          at: .
      - run:
          name: Create directory
          command: mkdir -p lib
      - run:
          name: Generate library
          command: java -jar swagger-codegen-cli-2.2.1.jar generate -i ./artifacts/api.yaml --lang javascript -o ./lib/client
      - persist_to_workspace:
          root: .
          paths: lib

workflows:
  version: 2
  main:
    jobs:
      # edge
      - edge-format
      - edge-lint
      - edge-test
      # consumer
      - go-format:
          name: consumer-format
          directory: ./consumer
      # api
      - go-format:
          name: api-format
          directory: ./api
      # connection-disconnected
      - go-format:
          name: connection-disconnected-format
          directory: ./connection/disconnected
      - go-test:
          name: connection-disconnected-test
          directory: ./connection/disconnected
      # connection-listener
      - go-format:
          name: connection-listener-format
          directory: ./connection/listener
      - go-test:
          name: connection-listener-test
          directory: ./connection/listener
      # Generate openapi spec
      - generate-spec
      - generate-client:
          requires:
            - generate-spec
